@model Labyrinth.Model.UsersAdminVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Massage = "";
    if (ViewBag.Massage != null)
    {
        Massage = ViewBag.Massage;
    }
}
@Html.Hidden("Massage", @Massage)
<div id="main-content" asdadsasdasd="saas" data="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <!-- <h3 class="ls-top-header">الرئسية</h3> -->
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>الرئسية</li>
                    <li class="active">المنطقه</li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">اضافة</h3>
                        </div>
                        <disv class="panel-body">
                            @*<form id="defaultForm" method="post"  action="" data-bv-message="This value is not valid"
                                data-bv-feedbackicons-valid="fa fa-check" data-bv-feedbackicons-invalid="fa fa-bug"
                                data-bv-feedbackicons-validating="fa fa-refresh">*@

                            @using (Html.BeginForm("Add", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAddPost", @class = "form-horizontal ls_form" }))
                            {

                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">الاسم بالكامل</label>
                                    <div class="col-lg-6">
                                        <input type="text" id="Fullname" name="Fullname" class="form-control" placeholder="الاسم بالكامل" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">أسم المستخدم</label>
                                    <div class="col-lg-6">
                                        <input type="text" id="Username" name="Username" class="form-control" placeholder="أسم المستخدم" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">كلمة السر</label>
                                    <div class="col-lg-6">
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder="كلمة السر" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">صورة المستخدم</label>
                                    <div class="col-lg-6">
                                        <input id="Profile_Picture" name="Profile_Picture" type="file" style=" direction: ltr; " />
                                        <br />
                                        <div id="Picture-holder"> </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary btnborder">حفظ</button>
                                    </div>
                                </div>
                            }
                        </disv>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Element  End-->
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            if ($("#Massage").val() == "Error") {
                swal("حدث خطاء اثناء الحفظ ,, لم يتم  حفظ البيانات");
            }


            $('#main-content').delegate('#Profile_Picture', 'change', function () {
                if (typeof (FileReader) != "undefined") {
                    var image_holder = $("#Picture-holder");
                    image_holder.empty();
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("<img />", {
                            "src": e.target.result,
                            "id": "Profile_Picture",
                            "name": "Profile_Picture",
                            //"class": "img-thumbnail",
                            "style": 'width:100%',
                        }).appendTo(image_holder);
                    };
                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
                else {
                    alert("This browser does not support FileReader.");
                }
            });
        });
    </script>
}